@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif, Verdana;
}
ul,
ol,
menu{
    list-style: none;
}
/* LAYOUT */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.section{
    flex-grow: 1;
    display: flex;
    flex-basis: 1px;
    flex-direction: column;
    background-color: #000;
}
.videocall{
    flex-grow: 1;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
}
.icon-large{
    font-size: 30px;
}
/* End LAYOUT */
/* COMPONENTS */
.button-action{
    gap: 10px;
}
.fa-share-from-square{
    color: #4BC800;
}
/* End COMPONENTS */
/* TOOLBAR */
.toolbar{
    gap: 20px;
    height: 85px;
    color: #fff;
    display: flex;
    flex-direction: row;
    background-color: #222;
    justify-content: space-between;
}
.toolbar > .peripherals,
.toolbar > .tools-list{
    padding: 10px 0 15px 0;
}
.toolbar .col{
    gap: 5px;
    align-items: center;
    justify-content: center;
}
/* Peri */
.peripherals{
    gap: 10px;
}
.peripheral{
    gap: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
/* End Peri */
/* Toolbar */
.tools-list{
    gap: 20px;
    align-items: center;
}
.tools-list > *{
    cursor: pointer;
}
/* End Toolbar */
/* Quit */
.quit{
    cursor: pointer;
    color: #FF0026;
    padding: 30px 20px;
    background-color: #4A4A4A;
}