@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif, Verdana;
}
ul,
ol,
menu{
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
}
/* LAYOUT */
.section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000;
}
.container{
    padding: 75px 50px 15px;
}
.videocall{
    flex-grow: 1;
    overflow: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
}
.icon-large{
    font-size: 25px;
}
/* End LAYOUT */
/* COMPONENTS */
.button-action{
    gap: 10px;
}
.fa-share-from-square{
    color: #4BC800;
}
/* End COMPONENTS */
/* TOOLBAR */
.toolbar{
    gap: 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
    background-color: #222;
    justify-content: space-between;
}
.toolbar > .peripherals,
.toolbar > .tools-list{
    padding: 10px 0 15px 0;
}
.toolbar .col{
    gap: 5px;
    align-items: center;
    justify-content: center;
}
/* Peri */
.toolbar .peripherals{
    padding-left: 5px;
    gap: 10px;
}
.peripheral{
    gap: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
/* End Peri */
/* Toolbar */
.tools-list{
    gap: 20px;
    align-items: center;
}
.tools-list > *{
    cursor: pointer;
}
/* End Toolbar */
/* Quit */
.quit{
    cursor: pointer;
    color: #FF0026;
    padding: 30px 20px;
    background-color: #4A4A4A;
}
/* End Quit */
/* Video Call */
.videocall{
    position: relative;
}
/* Screen Tools */
.tools{
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    color: #fff;
    gap: 5px;
}
.tool{
    display: flex;
    gap: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    align-items: center;
    background-color: #4A4A4A;
}
.tool svg{
    width: 18px;
    height: 18px;
}
/* End Screen Tools */
/* Frame */
.videocall .row{
    gap: 4px;
    justify-content: center;
}
.user{
    position: relative;
    aspect-ratio: 16/9;
    flex-basis: calc(100% / 7);
    min-width: 250px;
}
.user-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.user-info{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    color: #fff;
    background-color: #00000050;
}
/* End Frame */
/* End Video Call */